@using Kendo.Mvc.UI

@model FootballOracle.Models.ViewModels.Approvable.Matches.MatchEditorViewModel

<div class="well">
    <form method="post" class="form-horizontal">
        <fieldset>
            <legend>@ViewBag.Title</legend>

            @Html.AntiForgeryToken()

            @Html.ValidationSummary(false, string.Empty, new { @class = "alert alert-danger" })

            @Html.HiddenFor(m => m.PrimaryKey)
            @Html.HiddenFor(m => m.HeaderKey)
            @Html.HiddenFor(m => m.ViewDate)
            @Html.HiddenFor(m => m.Team1Guid)
            @Html.HiddenFor(m => m.Team1Ht)
            @Html.HiddenFor(m => m.Team1Ft)
            @Html.HiddenFor(m => m.Team2Guid)
            @Html.HiddenFor(m => m.Team2Ht)
            @Html.HiddenFor(m => m.Team2Ft)

            <div class="form-group" >
                @Html.HiddenFor(m => m.MatchDate)
                @Html.LabelFor(m => m.MatchDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8 form-control-static">
                    @string.Format("{0} {1}", Model.MatchDate.ToShortDateString(), Model.MatchDate.ToShortTimeString())
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.CompetitionGuid, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @(Html.Kendo().DropDownListFor(m => m.CompetitionGuid)
                        .OptionLabel("--Select--")
                        .HtmlAttributes(new { style = "width:280px" })
                        .DataTextField("Description")
                        .DataValueField("Code")
                        .BindTo(Model.CompetitionPickerData)
                    )
                </div>
            </div>

            @Html.EditorFor(m => m.VenueGuid)

            @Html.EditorFor(m => m.Attendance)


            <div class="form-group">
                <div class="col-md-12 text-right">
                    <a class="btn btn-danger btn-sm" href="@Url.Action("Home", new { id = Model.ShortPrimaryKey })">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </a>

                    <button type="submit" class="btn btn-primary btn-sm" name="Command" value="Previous">
                        <span class="glyphicon glyphicon-chevron-left"></span> Previous
                    </button>

                    <button type="submit" class="btn btn-primary btn-sm" name="Command" value="Next">
                        Next <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>

            
        </fieldset>
    </form>
</div>
