@model FootballOracle.Models.ViewModels.Approvable.Countries.CountryEditorViewModel

<div class="well">
    <form method="post" class="form-horizontal">
        <fieldset>
            <legend>@ViewBag.Title</legend>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, string.Empty, new { @class = "alert alert-danger" })

            @Html.EditorFor(m => m.CountryName)
            @Html.EditorFor(m => m.OrganisationGuid)

            <div class="row form-group">
                
                <div class="col-md-12">
                    @Html.Label("Badge", new { @class = "control-label" })

                    @if(Model.VersionEntity != null && Model.VersionEntity.Resource != null)
                    {
                        <img src="@string.Format("data:image/gif;base64,{0}", Model.VersionEntity.Resource.ResourceBytes.ToBase64Image(50,50))" />    
                    }
                    @Html.Kendo().Upload().Multiple(false).Name("imageData")
                </div>
            </div>

            @Html.EditorFor(m => m.WebAddress)
            @Html.EditorFor(m => m.EffectiveFrom)


            @Html.HiddenFor(m => m.PrimaryKey)
            @Html.HiddenFor(m => m.HeaderKey)
            @Html.HiddenFor(m => m.ViewDate)
            @Html.HiddenFor(m => m.EffectiveTo)
            @Html.HiddenFor(m => m.ResourceGuid)

            @Html.Partial("_SubmitButtons")
        </fieldset>
    </form>
</div>