@using FootballOracle.Foundation


@model FootballOracle.Models.ViewModels.Approvable.Organisations.OrganisationEditorViewModel

@{
    ViewBag.Title = "Edit organisation:";
}

@Html.DisplayForModel()

<div class="row">
    <div class="col-md-6">
        <p>
            <a class="btn btn-default btn-xs" href="@Url.Action("Summary")">Organisation summary</a>
            <a class="btn btn-primary btn-xs" href="@Url.Action("Edit")">Edit organisation</a>
        </p>

        @Html.EditorForModel()
    </div>

    <div class="col-md-6">
        @Html.Partial("EditableViewModels", Model.EditableViewModels)
    </div>
</div>

@Html.SelectTab("edit")