@model FootballOracle.Models.ViewModels.Approvable.Organisations.OrganisationEditorViewModel

<div class="well">
    <form method="post" class="form-horizontal">
        <fieldset>
            <legend>@ViewBag.Title</legend>

            @Html.AntiForgeryToken()

            @Html.ValidationSummary(false, string.Empty, new { @class = "alert alert-danger" })

            @Html.EditorFor(m => m.OrganisationName)
            @Html.EditorFor(m => m.OrganisationDescription)
            @Html.EditorFor(m => m.ParentOrganisationGuid)
            @Html.EditorFor(m => m.CountryGuid)
            @Html.EditorFor(m => m.WebAddress)
            @Html.EditorFor(m => m.EffectiveFrom)

            @Html.HiddenFor(m => m.PrimaryKey)
            @Html.HiddenFor(m => m.HeaderKey)
            @Html.HiddenFor(m => m.ViewDate)
            @Html.HiddenFor(m => m.EffectiveTo)

            @Html.Partial("_SubmitButtons")
            
        </fieldset>
    </form>
</div>