@model FootballOracle.Models.ViewModels.Approvable.Competitions.CompetitionLookupCampaignStagesViewModel

@{
    ViewBag.Title = "Manage lookup campaign stages";
}

@Html.DisplayForModel()

<div class="row">
    <div class="col-md-12">
        <p>
            <a class="btn btn-default btn-xs" href="@Url.Action("Summary")">Competition summary</a>
            <a class="btn btn-default btn-xs" href="@Url.Action("Edit")">Edit competition</a>

            @if (Model.IsAdmin)
            {
                <a class="btn btn-default btn-xs" href="@Url.Action("ManageLookups")">Manage lookups</a>
                <a class="btn btn-primary btn-xs" href="@Url.Action("ManageCampaigns")">Manage campaigns</a>
            }
        </p>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <form method="post" class="form-horizontal">
                <fieldset>
                    <legend>@string.Format("{0}: {1}", ViewBag.Title, Model.SelectedCampaignStageViewModel.Description)</legend>

                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.PrimaryKey)
                    @Html.HiddenFor(m => m.HeaderKey)
                    @Html.HiddenFor(m => m.SelectedCampaignStageKey)
                    @Html.ValidationSummary(false, string.Empty, new { @class = "alert alert-danger" })

                    <table class="table table-condensed table-striped small">
                        <thead>
                            <tr>
                                <th>Site</th>
                                <th>Lookup</th>
                            </tr>
                        </thead>

                        <tbody>

                            @{var viewModelCount = Model.ManageLookupCampaignStageViewModels.Count(); }

                            @for (int i = 0; i < viewModelCount; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(m => m.ManageLookupCampaignStageViewModels[i].PrimaryKey)
                                    @Html.HiddenFor(m => m.ManageLookupCampaignStageViewModels[i].CampaignStageKey)
                                    @Html.HiddenFor(m => m.ManageLookupCampaignStageViewModels[i].IsNew)

                                    <td>@Html.EditorFor(m => m.ManageLookupCampaignStageViewModels[i].ImportSite)</td>
                                    <td class="text-center">@Html.EditorFor(m => m.ManageLookupCampaignStageViewModels[i].LookupId)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-ok"></span> Submit
                        </button>

                        <a class="btn btn-success btn-sm" href="@Url.Action("ManageCampaignStages", new { ck = Model.SelectedCampaignStageViewModel.CampaignKey.ToShortGuid() })">Back</a>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

@Html.SelectTab("edit")
