@model FootballOracle.Models.ViewModels.Approvable.Teams.TeamEditorViewModel

@{
    ViewBag.Title = "Edit team:";
}

@Html.DisplayForModel()

<div class="row">
    <div class="col-md-6">
        <p>
            <a class="btn btn-default btn-xs" href="@Url.Action("Summary")">Team summary</a>
            <a class="btn btn-primary btn-xs" href="@Url.Action("Edit")">Edit team</a>

            @if (Model.IsAdmin)
            {
                <a class="btn btn-default btn-xs" href="@Url.Action("ManageLookups")">Manage lookups</a>
            }

        </p>

        @Html.EditorForModel()
    </div>

    <div class="col-md-6">
        @Html.Partial("EditableViewModels", Model.EditableViewModels)
    </div>
</div>

@Html.SelectTab("edit")